<!-- cards -->
<div class="container py-5">
  <div class="row">

    <div class="col-md-4">
      <div class="view view-first">
        <img src="/res/site/assets/cartaz31anosfejac-2.jpg" />
        <div class="mask">
          <h2>Divulgação de eventos</h2>
          <p>Criação de material visual para divulgação de eventos.</p>
          <a href="divulgacao.html" class="info">veja mais</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="view view-first">
        <img src="/res/site/assets/raventura.jpg" />
        <div class="mask">
          <h2>Logomarcas</h2>
          <p>Criação de logomarcas.</p>
          <a href="divulgacao.html" class="info">veja mais</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="view view-first">
        <img src="/res/site/assets/28anos-fejac.jpg" />
        <div class="mask">
          <h2>Peças comemorativas</h2>
          <p>Criação de imagens comemorativas.</p>
          <a href="#" class="info">veja mais</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /cards -->