<!-- cards -->
<div class="container py-5">
  <div class="row">

    <div class="col-md-4">
      <div class="view view-first">
        <img src="/res/site/assets/cartaz31anosfejac-2.jpg" />
        <div class="mask">
          <h2>Divulgação de eventos</h2>
          <p>Criação de material visual para divulgação de eventos.</p>
          <a href="/divulgacao" class="info">veja mais</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="view view-first">
        <img src="/res/site/assets/raventura.jpg" />
        <div class="mask">
          <h2>Logomarcas</h2>
          <p>Criação de logomarcas.</p>
          <a href="divulgacao" class="info">veja mais</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="view view-first">
        <img src="/res/site/assets/28anos-fejac.jpg" />
        <div class="mask">
          <h2>Peças comemorativas</h2>
          <p>Criação de imagens comemorativas.</p>
          <a href="pecas-comemorativas" class="info">veja mais</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /cards -->

<div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Produtos</h2>
                        <div class="product-carousel">
                            {loop="$products"}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{$value.desphoto}" alt="">
                                    <div class="product-hover">
                                        <a href="/cart/{$value.idproduct}/add" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Comprar</a>
                                        <a href="/products/{$value.desurl}" class="view-details-link"><i class="fa fa-link"></i> Ver detalhes</a>
                                    </div>
                                </div>
                                
                                <h2><a href="/products/{$value.desurl}">{$value.desproduct}</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>R${function="formatPrice($value.vlprice)"}</ins> 
                                </div> 
                            </div>
                            {/loop}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->