<div class="container">
      <div class="row">
        <div class="galeria">

          <!-- <div class="item-galeria"><img src="" class="img-galeria"></div> -->
          <div class="item-galeria"><img src="assets/comunicacao.jpg" class="img-galeria"></div>
          <div class="item-galeria"><img src="assets/harmonia-fejac.jpg" class="img-galeria"></div>
          <div class="item-galeria"><img src="assets/passe.jpg" class="img-galeria"></div>
          <div class="item-galeria"><img src="assets/reforma.jpg" class="img-galeria"></div>
          <div class="item-galeria"><img src="assets/visao.jpg" class="img-galeria"></div>

        </div>

      </div>
    </div>